<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="footer">
    <footer class="footer footer-transparent d-print-none py-3">
        <div class="container-xl">
            <div class="row">
                <div class="col-sm-8 text-sm-start text-center mt-2"
                     th:text="${setting != null and setting.footer != null ? setting.footer : ('© ' + appName)}">© BP</div>
                <div class="col-sm-4 text-sm-end text-center mt-2">
                    <span th:if="${setting != null and setting.version != null}" class="link-secondary"
                          th:text="'v' + ${setting.version}">v1.0.0</span>
                </div>
            </div>
        </div>
    </footer>
</th:block>
</body>
</html>
